{% extends "base/base.html" %}

{% block title %}Login{% endblock %}

{%block columna8 %}

<br>
<div class="alert alert-success" role="alert">
    <h4 class="alert-heading">Tareas</h4>
    <p>Lista de Tareas</p>
    <hr>
        <div class = login>
            <form action="/login" method="post">

                <h5 class "text-center">Inicio</h5>

                <label>Usuario</label>
                <input type="usuario" class="form-control mb-3" name = "Usuario">

                <label>Contraseña</label>
                <input type="password" class="form-control mb-3" name = "Password">
                <button type="submit" class="btn-primary w-100">Aceceder</button>

                {% if message %}

                  <div class="alert alert-danger alert-dimissible fade show" role="alert">
                      <strong>Error</strong>{{ message }}
                      <button type="button" class="btn-close" data-bs-dissmiss="alert" aria-label="Close"></button>
                  </div>

                {% endif %}
            </form>
        </div>
    <p class="mb-0">En prueba</p>
  </div>


{%endblock %}


  {% block columna4 %}
<p>Columna</p>


  {% endblock %}