<link rel="stylesheet" href="{{ url_for('static', filename='css/nav-bar.css' ) }}">
<nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand" href="{{ url_for('index')}}">Ayun ALB</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item {% if request.endpoint=='inicio' %}active{% endif %}">
          <a class="nav-link" href="{{ url_for('inicio')}}">Inicio <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item  {% if request.endpoint=='tareas' %}active{%endif %}">
          <a class="nav-link" href="{{ url_for('tareas')}}">Tareas</a>
        </li>
        <li class="nav-item {% if request.endpoint=='contacto' %}active{%endif %}">
          <a class="nav-link" href="{{ url_for('contacto')}}">Contacto</a>
        </li>
        <li class="nav-item dropdown ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            INVENTARIO
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{{ url_for('vehiculos')}}">Vehiculos</a>
            <a class="dropdown-item" href="{{ url_for('maquinaria')}}">Maquinaria</a>
            <a class="dropdown-item" href="{{ url_for('equipos_informaticos')}}">Equipos Informaticos</a>
          </div>
          

        </li>
        <div class="registro">
          <div  class="container-fluid">
            <span>Bienvenido/a {{session['Nombre']}} {{session['Apellido1']}}<a href="{{url_for('logout')}}" class="mx-3">Salir</a></span>
          </div>
        </div>

        <li class="nav-item {% if request.endpoint=='registro' %}active{%endif %}">
          <a class="nav-link" href="{{ url_for('contacto')}}">Contacto</a>
      </ul>
    </div>
  </nav>

  